<aside class="w-64 bg-blue-100 p-4">
    <nav class="space-y-2">
        <a href="{{ '/' | relative_url }}" class="block py-2 px-3 rounded hover:bg-blue-200">Accueil</a>
        <a href="{{ '/admin.html' | relative_url }}" class="block py-2 px-3 rounded hover:bg-blue-200">Tableau de bord</a>
        <a href="{{ '/employes.html' | relative_url }}" class="block py-2 px-3 rounded hover:bg-blue-200">Employés</a>
        <a href="{{ '/departements.html' | relative_url }}" class="block py-2 px-3 rounded hover:bg-blue-200">Départements</a>
        <a href="{{ '/conges.html' | relative_url }}" class="block py-2 px-3 rounded hover:bg-blue-200">Congés</a>
    </nav>
</aside>
